Sanama/Connected Services/SanamaService/PushSanamaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicebus.sanama.mefa.ir/PushSanama/v1/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PushSanamaService" targetNamespace="http://servicebus.sanama.mefa.ir/PushSanama/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="Service_Binding_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:InitiatorToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:WssX509V3Token10 />
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:InitiatorToken>
            <sp:RecipientToken>
              <wsp:Policy>
                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                  <wsp:Policy>
                    <sp:WssX509V3Token10 />
                  </wsp:Policy>
                </sp:X509Token>
              </wsp:Policy>
            </sp:RecipientToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256Sha256Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:EncryptSignature />
            <sp:OnlySignEntireHeadersAndBody />
          </wsp:Policy>
        </sp:AsymmetricBinding>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier />
            <sp:MustSupportRefIssuerSerial />
          </wsp:Policy>
        </sp:Wss10>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="Service_Input_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="Service_Output_Policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://servicebus.sanama.mefa.ir/PushSanama/v1/" version="1.0">
      <xsd:element name="InternalServerException" nillable="true" type="tns:InternalServerException" />
      <xsd:element name="send" nillable="true" type="tns:send" />
      <xsd:element name="sendResponse" nillable="true" type="tns:sendResponse" />
      <xsd:complexType name="send">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="sanamaInfo" type="tns:sanamaInfo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="sanamaInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attachments" nillable="true" type="tns:attachment" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="contrastAccounts" nillable="true" type="tns:contrastAccount" />
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="mainOrgCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="mainOrgID" type="xsd:string" />
          <xsd:element minOccurs="0" name="month" type="xsd:int" />
          <xsd:element minOccurs="0" name="protocolName" type="xsd:string" />
          <xsd:element minOccurs="0" name="protocolType" type="xsd:string" />
          <xsd:element minOccurs="0" name="protocolVer" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="reports" nillable="true" type="tns:report" />
          <xsd:element minOccurs="0" name="year" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="attachment">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="attachment" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" name="attachmentType" type="xsd:int" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="extension" type="xsd:string" />
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="contrastAccount">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="accountDscp" type="xsd:string" />
          <xsd:element minOccurs="0" name="accountNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="accountNumberImage" type="tns:accountNumberImage" />
          <xsd:element minOccurs="0" name="accountType" type="xsd:int" />
          <xsd:element minOccurs="0" name="diffType1" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType10" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType11" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType12" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType2" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType3" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType4" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType5" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType6" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType7" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType8" type="tns:diffType" />
          <xsd:element minOccurs="0" name="diffType9" type="tns:diffType" />
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="mojoodiTebgheBank" type="xsd:long" />
          <xsd:element minOccurs="0" name="mojoodiTebgheDaftar" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="accountNumberImage">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attachments" nillable="true" type="tns:attachment" />
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="diffType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attachments" nillable="true" type="tns:attachment" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="details" nillable="true" type="tns:detail" />
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="value" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="detail">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="checkNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="date" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="docDate" type="xsd:string" />
          <xsd:element minOccurs="0" name="docNo" type="xsd:string" />
          <xsd:element minOccurs="0" name="expense" type="xsd:long" />
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="zinaf" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="report">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="accCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="accountNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="annualAdjustmentsSubject" type="xsd:int" />
          <xsd:element minOccurs="0" name="assuranceSubject" type="xsd:int" />
          <xsd:element minOccurs="0" name="assuranceType" type="xsd:int" />
          <xsd:element minOccurs="0" name="awardArticle" type="xsd:int" />
          <xsd:element minOccurs="0" name="constructArticle" type="xsd:int" />
          <xsd:element minOccurs="0" name="contractProperties" type="xsd:string" />
          <xsd:element minOccurs="0" name="costCenter" type="xsd:string" />
          <xsd:element minOccurs="0" name="creditCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="creditInfo" type="xsd:int" />
          <xsd:element minOccurs="0" name="creditType" type="xsd:int" />
          <xsd:element minOccurs="0" name="currencyType" type="xsd:int" />
          <xsd:element minOccurs="0" name="debentureReceiverRank" type="xsd:string" />
          <xsd:element minOccurs="0" name="debentureSenderRank" type="xsd:string" />
          <xsd:element minOccurs="0" name="debitSubject" type="xsd:int" />
          <xsd:element minOccurs="0" name="demandStatus" type="xsd:int" />
          <xsd:element minOccurs="0" name="dueDate" type="xsd:string" />
          <xsd:element minOccurs="0" name="expenseArticle" type="xsd:int" />
          <xsd:element minOccurs="0" name="expenseDetailArticle" type="xsd:string" />
          <xsd:element minOccurs="0" name="fixedAssetType" type="xsd:int" />
          <xsd:element minOccurs="0" name="governmental" type="xsd:int" />
          <xsd:element minOccurs="0" name="guaranteeEssence" type="xsd:int" />
          <xsd:element minOccurs="0" name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="incomeCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="incomeSubject" type="xsd:int" />
          <xsd:element minOccurs="0" name="inventoryType" type="xsd:int" />
          <xsd:element minOccurs="0" name="investmentType" type="xsd:int" />
          <xsd:element minOccurs="0" name="leakageSubject" type="xsd:int" />
          <xsd:element minOccurs="0" name="nominee" type="xsd:string" />
          <xsd:element minOccurs="0" name="nomineeCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="otherSourceType" type="xsd:int" />
          <xsd:element minOccurs="0" name="quantity" type="xsd:int" />
          <xsd:element minOccurs="0" name="rankNumber" type="xsd:string" />
          <xsd:element minOccurs="0" name="securitiesProperties" type="xsd:string" />
          <xsd:element minOccurs="0" name="securitiesType" type="xsd:int" />
          <xsd:element minOccurs="0" name="sourceEssence" type="xsd:int" />
          <xsd:element minOccurs="0" name="sourceType" type="xsd:int" />
          <xsd:element minOccurs="0" name="summaryProgressCreditor" type="xsd:long" />
          <xsd:element minOccurs="0" name="summaryProgressDeptor" type="xsd:long" />
          <xsd:element minOccurs="0" name="taxSeason" type="xsd:int" />
          <xsd:element minOccurs="0" name="tempPaymentType" type="xsd:int" />
          <xsd:element minOccurs="0" name="transferItems" type="xsd:int" />
          <xsd:element minOccurs="0" name="transferalType" type="xsd:int" />
          <xsd:element minOccurs="0" name="year" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="sendResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="responseMessage" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InternalServerException">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="message" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="send">
    <wsdl:part name="parameters" element="tns:send" />
  </wsdl:message>
  <wsdl:message name="InternalServerException_Exception">
    <wsdl:part name="InternalServerException_Exception" element="tns:InternalServerException" />
  </wsdl:message>
  <wsdl:message name="sendResponse">
    <wsdl:part name="parameters" element="tns:sendResponse" />
  </wsdl:message>
  <wsdl:portType name="PushSanama">
    <wsdl:operation name="send">
      <wsdl:input name="send" message="tns:send" />
      <wsdl:output name="sendResponse" message="tns:sendResponse" />
      <wsdl:fault name="InternalServerException_Exception" message="tns:InternalServerException_Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PushSanamaServiceSoapBinding" type="tns:PushSanama">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#Service_Binding_Policy" />
    <wsdl:operation name="send">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input name="send">
        <soap12:body use="literal" />
        <wsp:PolicyReference URI="#Service_Input_Policy" />
      </wsdl:input>
      <wsdl:output name="sendResponse">
        <soap12:body use="literal" />
        <wsp:PolicyReference URI="#Service_Output_Policy" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException_Exception">
        <soap12:fault use="literal" name="InternalServerException_Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushSanamaService">
    <wsdl:port name="PushSanamaPort" binding="tns:PushSanamaServiceSoapBinding">
      <soap12:address location="http://services.irica.gov.ir/ESB/services/PushSanama_v1_0" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>